.projects{
    padding:20px;
    padding-bottom:100px;
}

.projects__container{
   
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(450px,1fr));
    column-gap:50px;
    row-gap:50px;
    place-items:center;


    padding:20px;
}

.projects__subtitle{
    text-align:center;
    color:var(--green);
    margin-top:-20px;
    font-size:1rem;
    margin-bottom:100px;
    font-style:italic;
}

@media only screen and (min-width:1024px){
    .projects__container{
        margin-left:150px;
    }
}