.project__container{
    background:var(--lightest-navy);
    border-radius:20px;
    box-shadow:5px 5px 5px 0px var(--lightest-navy); 
    padding-bottom:20px;
    margin:20px;
    max-width:500px;
}

.project__imageContainer{
    height:300px;
    overflow:hidden;
    position:relative;

}

.project__image{
    border-radius:20px 20px 0 0;
    width:100%;
    height:100%;
    
}

.project__noteIcon{
    position:absolute;
    z-index:100;
    right:0;margin:10px;
    border-radius:5px;
    color:rgb(252, 249, 249);
    background:rgba(79, 72, 72,0.5);
    background:var(--green);
    cursor:pointer;
    border:2px solid var(--green);
    animation: pendulum-swing 2s ease-in-out infinite;
    transform-origin: center bottom;
}

.project__note{
    position:absolute;
    z-index:50;
    background:rgba(79, 72, 72,0.8);
    width:100%;
    height:100%;
    color:white;
  display:flex;
  align-items:center;
  justify-content:center;
 
}

.project__detail {
display:flex;
flex-direction:column;
align-items:center;
justify-content: center;

}

.project__title{
    font-size:1.5rem;
    color:white;
    
}

.project__icons{
    padding:10px;
    padding-top:20px;
    display:flex;
    justify-content:center;
    
}

.project__icons > img{
    width:100px;
    height:30px;
    border-radius:5px;
    background:white;
    margin-right:10px;
}



.project__links>button{
    margin-right:10px;
    border:none;
    border-radius:5px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
    color:black;
}

.project__links>button:hover,.project__links>button:hover .project__linksIcon{
    background:var(--dark-green);
    font-weight:bold;
    color:white;
}

.project__linksIcon{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:5px;
    color:black;
}


.project__linksIcon >span{
    margin-right:10px;
}


@keyframes pendulum-swing {
    0%, 100% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
  }


  @media only screen and (min-width:1024px){
        .project__container{
            margin:0;
        }

      .project__imageContainer{
          height:300px;
      }
  }